# App
APP_ENV=development
SECRET_KEY=generate_with_openssl_rand_hex_32
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Database (MySQL via Laragon)
DATABASE_URL=mysql+pymysql://root@127.0.0.1:3306/cicilin

# ML
MODEL_PATH=app/ml/best_model_gradient_boosting.pkl
ML_CONFIDENCE_THRESHOLD=0.75
PPP_FACTOR=4750

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# OTP via WhatsApp (Fonnte)
FONNTE_API_KEY=your_fonnte_api_key

# Midtrans Sandbox
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_CLIENT_KEY=your_midtrans_client_key
MIDTRANS_IS_PRODUCTION=false
