fastapi==0.115.5
uvicorn[standard]==0.32.1
sqlalchemy==2.0.36
pymysql==1.1.1
alembic==1.14.0
pydantic-settings==2.6.1
pydantic[email]==2.10.3
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
cloudinary==1.41.0
httpx==0.28.1
scikit-learn==1.5.2
pandas==2.2.3
apscheduler==3.10.4
python-dateutil==2.9.0
shap
imbalanced-learn==0.12.4
